:root {
  --back_dark: rgb(32, 36, 48);
  --back_light: rgb(65, 67, 97);
  --purple: rgb(127, 44, 203);
  --pink: rgb(255, 132, 232);
  --pink_highlight: rgb(255, 169, 231);
  --highlight: rgb(255, 244, 252);
}

html {
  background-color: var(--back_dark);
  font-family: 'Roboto', sans-serif;
  color: var(--highlight);
  font-size: x-large;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: var(--highlight);
}
a:link,
a:visited {
  transition-duration: 0.5s;
  transition: ease-in-out;
  font-weight: bold;
  text-decoration: none;
  color: var(--highlight);
}
a:hover,
a:active {
  color: var(--pink_highlight);
  text-decoration: none;
  text-shadow: 0px 0px 15px var(--pink_highlight);
}
.Top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  padding: 30px;
}

.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 25px;
  width: 100%;
  max-width: 1200px;
  padding: 10px 50px 10px 50px;
}
.UwU_Logo {
  display: flex;
  height: 64px;
}
ul.PageList {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}
li.PageLink {
  padding: 0;
  margin: auto;
}

.PageList.PageList a:link,
.PageList.PageList a:visited {
  transition-duration: 0.3s;
  font-weight: bold;
  text-decoration: none;
  color: var(--highlight);
}

.PageList.PageList a:hover,
.PageList.PageList a:active {
  transition-duration: 0.3s;
  color: var(--pink_highlight);
  text-decoration: none;
  text-shadow: 0px 0px 15px var(--pink_highlight);
}

.signBox {
  display: flex;
  flex-direction: column;
  background-color: var(--back_light);
  margin: 60px auto 60px auto;
  padding: 30px 60px 80px 60px;
  width: 70%;
  border-radius: 60px;
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-input {
  display: flex;
  margin: 10px 0 10px 0;
  font-size: large;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--highlight);
  border-radius: 10px;
  padding: 12px 20px;
  color: var(--highlight);
}
#SignupSubmit {
  background-color: var(--pink);
  border: 0px solid var(--highlight);
  border-radius: 20px;
  padding: 12px 20px;
  font-size: xx-large;
  color: var(--purple);
}
