/* ==== General ==== */

:root {
  --back_dark: rgb(32, 36, 48);
  --back_light: rgb(65, 67, 97);
  --purple: rgb(127, 44, 203);
  --pink: rgb(255, 132, 232);
  --pink_highlight: rgb(255, 169, 231);
  --highlight: rgb(255, 244, 252);
}

html {
  background-color: var(--back_dark);
  font-family: 'Roboto', sans-serif;
  color: var(--highlight);
  font-size: x-large;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 30px;
}

/* ==== Navbar ==== */

#navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  padding: 30px;
}

#navBar .navBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  width: 100%;
  max-width: 1200px;
  padding: 10px 50px 10px 50px;
}

#navBar .navBox .UwU_Logo {
  display: flex;
  height: 64px;
}

#navBar .navBox .PageList {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#navBar .PageLink {
  padding: 0;
  margin: auto;
}

#navBar .PageList.PageList a:link,
#navBar .PageList.PageList a:visited {
  transition-duration: 0.3s;
  font-weight: bold;
  text-decoration: none;
  color: var(--highlight);
}

#navBar .PageList.PageList a:hover,
#navBar .PageList.PageList a:active {
  transition-duration: 0.3s;
  color: var(--pink_highlight);
  text-decoration: none;
  text-shadow: 0px 0px 15px var(--pink_highlight);
}

/* ==== Form ==== */

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  padding: 30px;
}

.formSection .errorMessage {
  color: var(--pink_highlight);
}

.formSection .avatar {
  border-radius: 50%;
}

.formSection form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.formSection .textInput {
  transition-duration: 0.3s;
  margin: 10px;
  width: 100%;
  height: 25px;
  font-family: Roboto;
  font-size: large;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--pink);
  border-radius: 15px;
  padding: 12px 20px;
  color: var(--highlight);
}

.formSection .textInput:hover,
.formSection .textInput:active {
  transition-duration: 0.3s;
  border: 2px solid var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
}

.formSection .textAreaInput {
  transition-duration: 0.3s;
  resize: vertical;
  margin: 10px;
  width: 100%;
  height: 25px;
  font-family: Roboto;
  font-size: large;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--pink);
  border-radius: 15px;
  padding: 12px 20px;
  color: var(--highlight);
}

.formSection .textAreaInput:hover,
.formSection .textAreaInput:active {
  transition-duration: 0.3s;
  border: 2px solid var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
}

.formSection .boxInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  transition-duration: 0.3s;
  margin: 10px;
  width: 100%;
  height: 25px;
  font-size: large;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--pink);
  border-radius: 15px;
  padding: 12px 20px;
}

.formSection .boxInput:hover,
.formSection .boxInput:active {
  transition-duration: 0.3s;
  border: 2px solid var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
}

.formSection .boxInput p {
  margin: 0;
  padding: 0;
}

.formSection .button {
  background-color: var(--pink);
  border: none;
  margin: 10px;
  width: fit-content;
  height: 53px;
  border-radius: 15px;
  padding: 12px 50px;
  font-size: 20pt;
  font-weight: bold;
  color: var(--back_light);
}

.formSection .button:hover,
.formSection .button:active {
  transition-duration: 0.3s;
  background-color: var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
}

/* ==== Profile ==== */

.profileSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  padding: 30px;
}

.profileSection .avatar {
  border-radius: 50%;
}

.profileSection h2 {
  text-align: center;
}

.profileSection .infoName {
  text-align: left;
  padding-right: 20px;
}

.profileSection .infoValue {
  text-align: right;
  padding-left: 20px;
  font-weight: bold;
}

.profileSection hr {
  border-color: transparent;
  margin: 40px 0px;
}

.profileSection .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  border: none;
  margin: 10px 20px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 12px 50px;
  color: var(--back_light);
}

.profileSection .button:hover {
  transition-duration: 0.3s;
  background-color: var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
  cursor: pointer;
}

.profileSection a {
  font-size: 20pt;
  text-decoration: none;
  font-weight: bold;
  color: var(--back_light);
}

/* ==== Shop ====*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  padding: 30px;
}

.gameList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  padding: 30px;
  margin-top: 30px;
}

.gameList ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

.gameList .gameListItem {
  display: flex;
  flex-direction: row;
  justify-content: left;
  transition-duration: 0.3s;
  margin: 10px;
  width: calc(100% - 42px);
  height: auto;
  font-size: large;
  background-color: transparent;
  box-shadow: none;
  border: 2px solid var(--pink);
  border-radius: 15px;
  padding: 12px 12px;
  
}

.gameList .gameListItem .imagePreview {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.gameList .gameListItem .textPreview {
  margin-left: 20px;
}

.gameList .gameListItem .textPreview p .pink {
  font-size: 16pt;
  font-weight: bold;
  color: var(--pink);
}

.gameList .gameListItem .textPreview .gameName {
  font-size: 20pt;
  font-weight: bold;
}

.gameList .gameListItem .textPreview .gameDate,
.gameList .gameListItem .textPreview .gameDescription {
  font-size: 16pt;
  font-weight: normal;
}

.gameList .gameListItem .textPreview .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  border: none;
  margin: 10px 0px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 12px 50px;
  color: var(--back_light);
}

.gameList .gameListItem .textPreview .button:hover {
  transition-duration: 0.3s;
  background-color: var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
  cursor: pointer;
}

.gameList .gameListItem .textPreview a {
  font-size: 20pt;
  text-decoration: none;
  font-weight: bold;
  color: var(--back_light);
}

.gameList .errorMessage {
  color: var(--pink_highlight);
}

/* ==== Game ==== */

.gameSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--back_light);
  border-radius: 15px;
  padding: 30px 15%;
}

.gameSection .gameItemPicture {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.gameSection .gameItemPicture .gamePicture {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
}

.gameSection .gameItem {
  font-size: 16pt;
  font-weight: normal;
  text-align: left;
}

.gameSection .gameDescription {
  font-size: 16pt;
  font-weight: normal;
  text-align: justify;
}

.gameSection .pink {
  font-size: 16pt;
  font-weight: bold;
  color: var(--pink);
}

.gameSection .gameItemPicture .gameItemList .button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink);
  border: none;
  margin: 10px 0px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
  padding: 12px 50px;
  color: var(--back_light);
}

.gameSection .gameItemPicture .gameItemList .button:hover {
  transition-duration: 0.3s;
  background-color: var(--pink_highlight);
  box-shadow: 0px 0px 15px var(--pink_highlight);
  cursor: pointer;
}

.gameSection .gameItemPicture .gameItemList .button a {
  font-size: 20pt;
  text-decoration: none;
  font-weight: bold;
  color: var(--back_light);
}